<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching>
            <profiles>
                <add extension=".jpeg" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".png" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:30" />
                <add extension=".jpg" policy="DontCache" kernelCachePolicy="DontCache" duration="00:00:30" />
            </profiles>
        </caching>
    </system.webServer>
</configuration>
